#header {
    border-bottom: 5px solid #4d4d4d;
}

#nav-sidebar {
    position: absolute;
    width: 270px;
    height: 1000vh;
    border-right: 5px solid #4d4d4d;
}

#content {
    margin-left: 300px;
}

img.main-image {
    width: 300px;
}
img.additional-image {
    width: 180px;
}

.input-group {
    margin-left: 50px;
}
.input-group-btn {
    margin-left: 10px;
}
